<div id="education">
  <div class="education_header">
    <div class="education_text">Education</div>
    <div class="education_signatures">
      <fa-icon [icon]="faBatteryQuarter" style="color: orangered"></fa-icon>
    </div>
  </div>
  <div class="container_education">

    <div class="education_block">
      <div class="education_left">
        <div class="circle_1"></div>
        <div class="circle_2"></div>
        <div class="circle_3"></div>
        <div class="circle_4"></div>
        <div class="education_university">
          <div class="text_inside">
            <div class="first_text">Bachelor of AkIT</div>
            <div class="second_text">2017 - 2021</div>
            <div class="third_text">Dnipro University of Technology</div>
          </div>
        </div>
        <div class="education_lvlup">
          <div class="text_inside">
            <div class="first_text">Passed with Merit Preliminary English Test</div>
            <div class="second_text">2018</div>
            <div class="third_text">Cambridge Assessment English</div>

          </div>
        </div>

      </div>
      <div class="education_right">
        <div class="education_cambridge">
          <div class="text_inside">
            <div class="first_text">Junior Front-end</div>
            <div class="second_text">2019 - 2020</div>
            <div class="third_text">Educational IT center "LVLUP"</div>
          </div>
        </div>
        <div class="education_school">
          <div class="text_inside">
            <div class="first_text">Report Card (Average 10.7/12)</div>
            <div class="second_text">2006 - 2017</div>
            <div class="third_text">School #19</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

