@-webkit-keyframes blink {
  100% {
    color: black;
  }
  50% {
    color: #01c853;
  }
  0%{
    color: black;
  }
}
@keyframes blink {
  100% {
    color: black;
  }
  50% {
    color: rgb(0,255,255);
  }
  0%{
    color: black;
  }
}
@-webkit-keyframes blink_battery {
  100% {
    color: black;
  }
  50% {
    color: rgb(0,255,255);
  }
  0%{
    color: black;
  }
}
@keyframes blink_battery {
  100% {
    color: black;
  }
  50% {
    color: rgb(0,255,255);
  }
  0%{
    color: black;
  }
}

@keyframes showLink {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes showLink {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

#contacts {
  opacity: 0.9;
  width: 940px;
  margin: 0 auto;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03),
  0 3px 1px -2px rgba(0, 0, 0, 0.03),
  0 1px 5px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  top: 150px;
  border-radius: 10px;

  .contacts_header {
    height: 65px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;

    .contacts_text {
      color: rgb(0,255,255);
      font-size: 25px;
    }

    .blink_battery {
      //-webkit-animation: blink_battery 0.5s linear infinite;
      //animation: blink_battery 0.5s linear infinite;
    }

    .blink {
      -webkit-animation: blink 1s linear infinite;
      animation: blink 1s linear infinite;
    }

    .contacts_signatures {
      font-size: 25px;
      text-align: right;
      color: white;
      text-decoration: none;
    }
  }

  .container_contacts {
    width: 90%;
    margin: 0 auto;
    height: 435px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .left_side{
      margin-top: 50px;
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      form{
        h3{
          text-transform: uppercase;
        }
      }

      * {box-sizing: border-box;}

      .ui-form {
        width: 100%;
        padding: 20px 20px 30px;
      }
      .ui-form h3 {
        position: relative;
        z-index: 5;
        margin: 0 0 20px;
        text-align: center;
        color: #01c853;
        font-size: 30px;
        font-weight: normal;
      }
      .ui-form h3:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 60px;
        top: -30px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fee8e4;
      }
      .ui-form h3:after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 50px;
        top: -40px;
        width: 0;
        height: 0;
        border-left: 55px solid transparent;
        border-right: 55px solid transparent;
        border-bottom: 90px solid #ffe3b5;
      }
      .form-row {
        z-index: 10;
        position: relative;
        margin-bottom: 25px;
      }
      .form-row input {
        display: block;
        width: 100%;
        padding: 0 10px;
        line-height: 40px;
        font-family: 'Roboto', sans-serif;
        background: none;
        border-width: 0;
        border-bottom: 2px solid #01c853;
        transition: all 0.2s ease;
      }
      .form-row label {
        position: absolute;
        left: 13px;
        color: #9d959d;
        font-size: 20px;
        font-weight: 300;
        transform: translateY(-35px);
        transition: all 0.2s ease;
      }
      .form-row input:focus {
        outline: 0;
        border-color: #F77A52;
      }
      .form-row input:focus + label,
      .form-row input:valid + label {
        transform: translateY(-60px);
        margin-left: -14px;
        font-size: 14px;
        font-weight: 400;
        outline: 0;
        border-color: #F77A52;
        color: #F77A52;
      }
      .ui-form input[type="submit"] {
        width: 100%;
        padding: 0;
        line-height: 42px;
        background: #01c853;
        border-width: 0;
        color: white;
        font-size: 20px;
      }
      .ui-form p {
        margin: 0;
        padding-top: 10px;
      }
    }
    .right_side{
      width: 50%;
      margin-top: 50px;
    }
  }

  .errorMessage {
    color: red;
    font-size: 10px;
  }

  .mapiFrame {
    border: 3px solid #01c853;
    border-radius: 10px;
    height: 350px;
  }
}

@media (max-width: 970px) {
  #contacts {
    width: 90% !important;
    top: 15px !important;
    height: unset !important;
    padding: 0 0 15px 0;
    margin: 0 auto !important;
  }

  .mapiFrame {
    height: unset !important;
  }

  .ui-form input[type="submit"] {
    line-height: 35px !important;
    font-size: 16px !important;
  }

  .ui-form p {
    padding-top: 0 !important;
  }

  .form-row {
    margin-bottom: 12px !important;
  }

  .form-row label {
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .form-row input:focus + label,
  .form-row input:valid + label {
    transform: translateY(-45px) !important;
    font-size: 10px !important;
  }

  .container_contacts {
    flex-direction: column !important;
    height: unset !important;

    .left_side {
      margin-top: 15px !important;
      width: 100% !important;
    }

    .right_side {
      width: 100% !important;
      margin-top: unset !important;
    }
  }

  .ui-form {
    padding: 8px !important;
  }

  .contacts_header {
    height: 45px !important;
    align-items: center !important;
    line-height: unset !important;

    .contacts_text {
      font-size: 20px !important;
    }
  }

  .ui-form h3 {
    display: none !important;
  }

  /*.ui-form h3:before {
    left: 60px;
    top: -30px;
    width: 75px !important;
    height: 75px !important;
  }
  .ui-form h3:after {
    right: 50px;
    top: -40px;
    border-left: 35px solid transparent !important;
    border-right: 35px solid transparent !important;
    border-bottom: 60px solid #ffe3b5 !important;
  }*/
}
