@-webkit-keyframes blink_a {
  100% {
    color: black;
  }
  50% {
    color: green;
  }
  0%{
    color: black;
  }
}
@keyframes blink_a {
  100% {
    color: black;
  }
  50% {
    color: green;
  }
  0%{
    color: black;
  }
}
@keyframes showText {
  100% {
    color: #01c853;
  }
  0% {
    color: white;
  }
}
@-webkit-keyframes showText {
  100% {
    color: #01c853;
  }
  0% {
    color: white;
  }
}

@keyframes showLink {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes showLink {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

#about {
  opacity: 0.9;
  width: 940px;
  margin: 0 auto;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03),
  0 3px 1px -2px rgba(0, 0, 0, 0.03),
  0 1px 5px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  top: 150px;
  border-radius: 10px;

  .about_header {
    height: 65px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;

    .about_text {
      color: #01c853;
      font-size: 25px;
    }

    #blink {
      -webkit-animation: blink_a 1s linear infinite;
      animation: blink_a 1s linear infinite;
    }

    .about_signatures {
      font-size: 25px;
      text-align: right;
      color: white;
      text-decoration: none;
    }
  }

  .container {
    width: 90%;
    margin: 0 auto;
    height: 435px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .left_side {
      width: 50%;


      .photo {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 10px solid #01c853;
        margin: 30px 0 0 50px;
        background: url("../../assets/img/IMG_09972.jpg");
        background-size: cover;
      }

      .social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 270px;
        height: 50px;
        margin-left: 50px;
        margin-top: 20px;
        justify-content: space-around;

        a {
          text-decoration: none;
          color: #01c853;
          font-size: 25px;

          div {
            width: 100px;
            height: 30px;
            line-height: 30px;
            position: absolute;
            left: 175px;
            top: 430px;
            display: none;
            font-size: 15px;
            border-radius: 20px;
            text-align: center;
          }

          &:hover div {
            border: 1px solid #01c853;
            display: block;
            -webkit-animation: showText 0.5s linear;
            animation: showText 0.5s linear;
          }
        }
      }
    }

    .right_side {
      width: 50%;

      .name {
        margin: 30px 0 0 50px;
        font-size: 40px;
        text-transform: capitalize;
        color: #444;
        font-weight: bolder;
      }

      .work {
        margin: 10px 0 0 50px;
        font-size: 20px;
        text-transform: capitalize;
        color: #848484 !important;
        font-weight: bolder;
      }

      .info {
        display: flex;
        flex-direction: row;
        margin: 70px 0 0 50px;

        .info_left {
          width: 50%;

          li {
            margin-top: 15px;
            color: #444444;
          }
        }

        .info_right {
          width: 50%;

          li {
            margin-top: 15px;

            a {
              text-decoration: none;
              color: #848484 !important;

              &:hover {
                color: #444444 !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  #about {
    width: 90% !important;;
    top: 15px !important;
    height: unset !important;
    padding: 0 0 15px 0;
  }

  .container {
    flex-direction: column !important;
    height: unset !important;
  }

  .name {
    margin: 0 !important;
    margin-top: 8px !important;
    text-align: center;
  }

  .work {
    margin: 0 !important;
    margin-top: 8px !important;
    text-align: center;
  }

  .info {
    margin: 0 !important;
    margin-top: 8px !important;
    justify-content: space-between;
  }

  .info_left {
    width: fit-content !important;
  }

  .info_right {
    margin-left: 5px;
    width: fit-content !important;
  }

  .left_side {
    width: 100% !important;
  }

  .right_side {
    width: 100% !important;;
  }

  .social {
    /*width: 90% !important;
    height: 50px !important;
    margin: 0 auto !important;
    margin-top: 20px !important;*/
    display: none !important;
  }

  .photo {
    width: 150px !important;
    height: 150px !important;
    margin: 0 auto !important;
    margin-top: 8px !important;
    border-width: 4px !important;
  }

  .about_header {
    height: 45px !important;
    align-items: center !important;
    line-height: unset !important;
  }

  .about_text {
    font-size: 20px !important;
  }
}
