<div id="skill">
  <div class="skill_header">
    <div class="skill_text">Skills</div>
    <div class="skill_signatures">
      <fa-icon [icon]="faBatteryThreeQuarters" style="color: green"></fa-icon>
    </div>
  </div>
  <div class="container_skill">
    <div class="technical_skills">
      <div class="skills_text">Technical
        <fa-icon [icon]="faCog" [pulse]="true"></fa-icon>
      </div>
      <div class="skill_block">

        <span>HTML5</span>
        <div class="progress_bar blue">
          <div class="active_1"></div>
          <div class="gray_1"></div>
        </div>

        <span>CSS3</span>
        <div class="progress_bar green">
          <div class="active_2"></div>
          <div class="gray_2"></div>
        </div>

        <span>JavaScript</span>
        <div class="progress_bar orange">
          <div class="active_3"></div>
          <div class="gray_3"></div>
        </div>

        <span>Angular</span>
        <div class="progress_bar red">
          <div class="active_4"></div>
          <div class="gray_4"></div>
        </div>

      </div>
    </div>

    <div class="soft_skills">
      <div class="skills_text">Soft
        <fa-icon [icon]="faBook"></fa-icon>
      </div>
      <div class="skill_block">

        <span>Communication</span>
        <div class="progress_bar blue_right">
          <div class="active_5"></div>
          <div class="gray_5"></div>
        </div>

        <span>Language</span>
        <div class="progress_bar green_right">
          <div class="active_6"></div>
          <div class="gray_1"></div>
        </div>

        <span>General Knowledge</span>
        <div class="progress_bar orange_right">
          <div class="active_7"></div>
          <div class="gray_2"></div>
        </div>

        <span>Ambitious</span>
        <div class="progress_bar red_right">
          <div class="active_8"></div>
        </div>

      </div>
    </div>
  </div>
</div>

