<div id="portfolio">
  <div class="portfolio_header">
    <div class="portfolio_text">My Projects</div>
    <div class="portfolio_signatures">
      <fa-icon [icon]="faBriefcase" style="color: rgb(100,149,237)"></fa-icon>
    </div>
  </div>
  <div class="container_portfolio">
    <div class="portfolio_block">
      <div class="block_bg"></div>
      <div class="block_footer">
        <div>CV</div>
        <div>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg"></div>
      <div class="block_footer">
        <div>PSD to HTML</div>
        <div>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg"></div>
      <div class="block_footer">
        <div>BootStrap3</div>
        <div>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg"></div>
      <div class="block_footer">
        <div>Incoming...</div>
        <div>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg"></div>
      <div class="block_footer">
        <div>Incoming...</div>
        <div>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg"></div>
      <div class="block_footer">
        <div>Incoming...</div>
        <div>
          <a href="#">
            <fa-icon [icon]="faEye"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

