<section class="wrap">
  <div class="block_avatar">
    <img class="avatar shadow" src="../../../img/myPhoto.jpg" alt="Ishchenko Avatar">
  </div>
  <div class="block_avatar_zaliv"></div>
  <div class="block_avatar_social_border">
    <div class="block_avatar_social">
      <a href="https://www.facebook.com/profile.php?id=100010805199760" target="_blank"><i
        class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/egorishchenko_v.2/?hl=ru" target="_blank"><i
        class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
  <div class="name">
    <h1>Yehor Ishchenko</h1>
  </div>
  <div class="proff">
    <p>Web Developer</p>
  </div>

</section>
<section class="main">
  <div class="info_1">
    <fa-icon [icon]="faMailBulk" style="margin-right: 10px;"></fa-icon>
    <a class="mail" href="mailto:egorkaishchenko@gmail.com">egorkaishchenko@gmail.com</a>
  </div>
  <div class="info_2">
    <fa-icon [icon]="faPhoneAlt" style="margin-right: 10px;"></fa-icon>
    <a class="mail" href="tel: +380976170090"> +380976170090</a>
  </div>
  <div class="info_3">
    <fa-icon [icon]="faAddressBook" style="margin-right: 10px;"></fa-icon>
    Ukraine, Dnipro
  </div>

</section>
<section class="profile">
  <div class="text">
    Profile
  </div>
  <div class="profile_text">
    Hi! I am a middle Front-end developer. Over the past two years mastered such languages as
    HTML 5, CSS 3, SCSS, JS, TS, Angular 6+, Ionic 4, Bootstrap 4. Ready to work on your projects, as well as learn
    new technologies with a big pleasure.
  </div>
</section>
<section class="skills">
  <div class="skills_1">
    <div class="language">
      Languages
    </div>
    <div class="language_stats_1">
      Russian
      <div class="lang_line_1">Native</div>
    </div>
    <div class="language_stats">
      Ukrainian
      <div class="lang_line_2">Native</div>
    </div>
    <div class="language_stats">
      English
      <div class="lang_line_3">B2-Cambridge</div>
    </div>
    <div class="language">
      Skills
    </div>
    <div class="language_stats_1">
      HTML5
      <div class="lang_line_4">DIV</div>
    </div>
    <div class="language_stats">
      CSS
      <div class="lang_line_5">.style</div>
    </div>
    <div class="language_stats">
      JS
      <div class="lang_line_6">func = () => {{"{}"}}</div>
    </div>
    <div class="language_stats">
      Angular
      <div class="lang_line_7">class</div>
    </div>
  </div>
  <br class="skills_2">
  <div class="education">
    Education
  </div>

  <div class="education_1">
    <div class="year">2019-2020</div>
    <div>IT-school LVLUP</div>
    <div>Front-end</div>
  </div>

  <div class="education_1">
    <div class="year">2017 - 2021</div>
    <div>Dnipro University of Technology</div>
    <div>Faculty of Information Technologies</div>
  </div>

  <div class="education_2">
    <div class="year">2006 - 2017</div>
    <div>School No19</div>
  </div>
  <div class="education">
    Experience
  </div>
  <div class="education_1">
    <span style="font-size: 15px">Since 2020-10-11 working in <a href="https://www.icore.com.ua/">iCore</a> till now.</span>
  </div>
  <div class="education_1">
    <span style="font-size: 15px">Took part in several international projects:</span>
    International Youth Exchange B Connected funded by ... 16-22 October 2017

  </div>
  <div class="education_1">
    <span style="font-size: 15px">Have passed with Merit Preliminary English Test 157 points.</span>
  </div>

</section>
